<app-question-header [assignmentName]="assignmentName"></app-question-header>
<div class="question-list-content">
    <div class="container" id="question-pager">
        <ul class="pager">
            <li class="previous">

                <button *ngIf="index != 0"
                        class="btn btn-inverse"
                        type="button"
                        (click)="preQuestion()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    第{{index+1}}题/共{{questionListLength}}题
                </button>
                <button *ngIf="index == 0"
                        class="btn btn-inverse"
                        type="button"
                        (click)="preQuestion()"
                        data-toggle="tooltip"
                        data-placement="left"
                        title="已经是第一题"
                        [ngStyle]="{'cursor':'default'}"
                        onmouseenter="$(this).tooltip('show')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    第{{index+1}}题/共{{questionListLength}}题
                </button>
            </li>
            <li class="next">
                <button *ngIf="index != questionListLength - 1"
                        class="btn btn-inverse"
                        (click)="nextQuestion()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <button *ngIf="index == questionListLength - 1"
                        class="btn btn-inverse"
                        (click)="nextQuestion()"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="这是最后一题，点击完成"
                        onmouseenter="$(this).tooltip('show')">
                    完成
                </button>
            </li>
        </ul>
    </div>

    <div class="container" id="question-detail">
        <app-question-detail (onAnswerChange)="changeAnswer($event)"></app-question-detail>
    </div>

</div>

