

.assignment-list-item{
    height: 60px;
    line-height: 60px;
    margin-top: 2px;
    padding: 0 42px 0px 0px;
    position: relative;
    -webkit-transition: .25s;
    transition: .25s;
    border-bottom: 1px solid lightgray;
}

.grade-info-list:last-child{
    border-bottom: 0px;
}

.assignment-name{
    line-height: 60px;
    font-size: 17px;
    margin: 1px 0 3px;
    display: inline-table;
    font-weight: bolder;
}

.more-info{
    line-height: 60px;
    margin:0;
    float: right;
}