.container{
    background-color: #efeff0;
    position: absolute;
    top: 90px;
    bottom: 0px;
    width: 100%;
}

.question-page{
    background-color: #efeff0;
    padding: 60px 100px 30px 100px;
    min-height: 100%;
}

.question-page.review{
    padding: 0px;
}

.question-page.review .question-container{
    padding: 20px 20px 20px 40px;
}

#content-page{
    padding: 0px 30px 30px 60px;
}

app-question-pager{
    padding-bottom: 10px;
}

.review-question p{
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 24px;
    vertical-align: bottom;
}

p{
    font-size: 17px;
}

#audio-text{
    height: 24px;
    line-height: 24px;
}

mat-radio-button{
    margin-bottom: 10px !important;
}

mat-radio-button p{
    margin: 0px;
    white-space: normal;
}

.correct-answer{
    color: #4caf50;
}

.passage-container{
    padding: 26px 20px 20px 20px;
    background-color: white;
    border-left: 1px solid dimgray;
}

.passage{
    height: 100vh;
    overflow: scroll;
}
