<app-question-header
        [assignmentName]="assignmentName"
        [classId]="classId"
        [mode]="mode"
        (next)="next()"
        (pre)="pre()"
        [showNext]="showNextButton"
        [showPre]="showPreButton"
        [disableNext]="false"
></app-question-header>

<div class="container">
    <div *ngIf="homeworkMode()">
        <div id="content-page" class="container" *ngIf="contentIndex == 0" fxLayout="column" fxLayoutAlign="start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <p>Listen to this material:</p>
                <mat-icon>volume_up</mat-icon>
            </div>
            <app-audio-player [src]="recordUrl" (completed)="next()"></app-audio-player>
        </div>

        <div class="question-page"
             *ngIf="contentIndex > 0" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
            <app-question-index [content]="getPagerContent()"></app-question-index>

            <div class="question" fxLayout="column" fxLayoutAlign="start"
                 *ngIf="tpoListeningQuestion.questionType == assignmentService.getTpoListeningSingleChoice() ||
                tpoListeningQuestion.questionType == assignmentService.getTpoListeningRepeatQuestion()">

                <div *ngIf="tpoListeningQuestion.questionType == assignmentService.getTpoListeningRepeatQuestion()"
                     fxLayout="row" fxLayoutAlign="start center">
                    <p>Listen again to part of the conversation. Then answer the question.</p>
                    <mat-icon>volume_up</mat-icon>
                </div>
                <p><strong>{{tpoListeningQuestion.question}}</strong></p>
                <mat-radio-group fxLayout="column"
                                fxLayoutGap="5px"
                                [(ngModel)]="answer"
                                (change)="changeAnswer()"
                                [disabled]="reviewMode()">
                    <mat-radio-button *ngFor="let option of tpoListeningQuestion.options; let i = index"
                                     color="accent"
                                     name="choices"
                                     [value]="i|convert09ToAZ">
                        <p>{{i|convert09ToAZ}}. {{option}}</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="question" fxLayout="column"
                 *ngIf="tpoListeningQuestion.questionType == assignmentService.getTpoListeningMultipleChoice()">
                <p><strong>{{tpoListeningQuestion.question}}</strong></p>
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-checkbox *ngFor="let option of tpoListeningQuestion.options;let i = index"
                                 [(ngModel)]="checkboxAnswers[i]" (change)="changeCheckboxAnswer()">
                        {{i|convert09ToAZ}}. {{option}}
                    </mat-checkbox>
                </div>
            </div>

            <div class="question" fxLayout="column"
                 *ngIf="tpoListeningQuestion.questionType == 'tpo_listening_table_choice'">
                <p><strong>{{getQuestionForTableChoiceQuestion(tpoListeningQuestion.question)}}</strong></p>
                <app-tpo-table-for-view
                    [tableRows]="getRowsForTableChoiceQuestion(tpoListeningQuestion.question)"
                    [tableCols]="tpoListeningQuestion.options"
                    [mode]="'homework'"
                    [answer]="answer"
                    (answerChanged)="changeTableChoiceAnswer($event)"
                ></app-tpo-table-for-view>
            </div>

            <div class="question" fxLayout="column"
                 *ngIf="tpoListeningQuestion.questionType == 'tpo_listening_sequence_type'">
                <p><strong>{{tpoListeningQuestion.question}}</strong></p>
                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-checkbox *ngFor="let option of tpoListeningQuestion.options;let i = index"
                                  [(ngModel)]="sequenceAnswers[i]" (change)="changeSequenceAnswer()">
                        {{i|convert09ToAZ}}. {{option}}
                    </mat-checkbox>
                    <p>你的选择:{{answer}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="reviewMode()">
        <div class="question-page review"
             *ngIf="contentIndex > 0" fxLayout="row" fxLayoutAlign="start">

            <div class="question-container" fxFlex="50%"
                 *ngIf="tpoListeningQuestion.questionType !== 'tpo_listening_table_choice'">
                <app-question-pager></app-question-pager>
                <div class="question" fxLayout="column" fxLayoutAlign="start">
                    <div class="review-question"
                         *ngIf="tpoListeningQuestion.questionType == assignmentService.getTpoListeningRepeatQuestion()"
                         fxLayout="row" fxLayoutAlign="start center">
                        <p>Listen again to part of the conversation. Then answer the question.</p>
                        <app-simple-audio-player [src]="tpoListeningQuestion.recordUrl.replace('question','repeat')"></app-simple-audio-player>
                    </div>

                    <div class="review-question" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                        <p>
                            <strong>{{tpoListeningQuestion.question}}</strong>
                            <app-simple-audio-player [src]="tpoListeningQuestion.recordUrl"></app-simple-audio-player>
                        </p>
                    </div>
                    <ul>
                        <li *ngFor="let option of tpoListeningQuestion.options; let i = index">
                            {{i|convert09ToAZ}}. {{option}}
                        </li>
                    </ul>
                </div>
                <div class="answer">
                    <p [ngClass]="{'correct-answer':correct(),'text-danger':!correct()}">学生答案：{{answer}}</p>
                    <p class="correct-answer">正确答案：{{tpoListeningQuestion.answer}}</p>
                    <div [froalaView]="tpoListeningQuestion.explanation"></div>
                </div>
            </div>

            <div class="question-container" fxFlex="50%"
                 *ngIf="tpoListeningQuestion.questionType == 'tpo_listening_table_choice'">
                <app-question-pager></app-question-pager>
                <div class="question" fxLayout="column" fxLayoutAlign="start">
                    <div class="review-question" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                        <p><strong>{{getQuestionForTableChoiceQuestion(tpoListeningQuestion.question)}}</strong></p>
                    </div>
                    <app-tpo-table-for-view
                            [tableRows]="getRowsForTableChoiceQuestion(tpoListeningQuestion.question)"
                            [tableCols]="tpoListeningQuestion.options"
                            [mode]="'review'"
                            [answer]="answer"
                            (answerChanged)="changeTableChoiceAnswer($event)"
                    ></app-tpo-table-for-view>
                </div>

                <div class="answer">
                    <p class="correct-answer">正确答案：</p>
                    <app-tpo-table-for-view
                            [tableRows]="getRowsForTableChoiceQuestion(tpoListeningQuestion.question)"
                            [tableCols]="tpoListeningQuestion.options"
                            [mode]="'review'"
                            [answer]="tpoListeningQuestion.answer"
                            (answerChanged)="changeTableChoiceAnswer($event)"
                    ></app-tpo-table-for-view>
                </div>
            </div>

            <div class="passage-container" fxFlex="50%">
                <app-tpo-review-player [src]="recordUrl"></app-tpo-review-player>
                <div class="passage" [froalaView]="passage"></div>
            </div>
        </div>
    </div>
</div>

