<h4>创建班级</h4>
<form ngNativeValidate id="createClassForm" role="form" #f="ngForm"
(ngSubmit) = "dialogRef.close(f.value)">
    <div fxLayout="column" fxLayoutGap="8px">
        <md-input-container>
            <input mdInput type="text" class="form-control" name="className" placeholder="班级名称:" required ngModel>
        </md-input-container>

        <md-input-container>
            <input mdInput type="text" class="form-control" name="verifier" placeholder="邀请码(把邀请码告诉学生，他们就可以加入了)" required ngModel>
        </md-input-container>
    </div>

    <md-dialog-actions align="end">
        <button md-button type="button" (click)="dialogRef.close()">取消</button>
        <button md-button color="accent">确定</button>
    </md-dialog-actions>
</form>