<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="btn-group-vertical" role="group" >
                <button *ngFor="let assignment of assignmentList"
                        type="button"
                        class="btn btn-default"
                        (click)="selectAssignment(assignment._id)"
                >
                    {{assignment.assignmentName}}
                </button>
            </div>
        </div>

        <div class="col-md-9">
            <app-edit-question-list [assignmentId]="selectAssignmentId"></app-edit-question-list>
            <a target="_blank"
               [routerLink]="['/question/edit',selectAssignmentId]">
                <button class="btn btn-default">
                    新建<span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>

        </div>
    </div>
</div>
