<div class="container" *ngIf="contentIndex == 0 && wordList">
    <fieldset class="word-list">
        <legend>背诵下列单词：</legend>
        <app-vocabulary-list [wordList]="wordList"></app-vocabulary-list>
    </fieldset>
</div>

<div *ngIf="contentIndex > 0" class="question-content" fxLayout="row"
     fxLayoutWrap="wrap" fxLayout.sm="column"
     fxLayoutGap="10px" fxLayoutAlign="center">
    <div class="question" fxLayout="column" fxFlex="60%">
        <p>请写出该单词的中英文： <app-simple-audio-player [src]="question.question|pronunciationOfWord"></app-simple-audio-player></p>
        <textarea type="text" [(ngModel)]="answer" rows="4" cols="50"
                  (change)="changeAnswer()" [disabled]="reviewMode() || markingMode()"></textarea>
    </div>


    <div class="answer" *ngIf="!homeworkMode()" fxFlex="60%">
        <p [ngClass]="{'correct-answer':correct(),'wrong-answer':!correct()}">学生答案：{{answer}}</p>
        <p class="correct-answer">正确答案：{{question.answer}}</p>
    </div>
</div>

