<div class="container" *ngIf="showContent && wordList">
    <fieldset class="word-list">
        <legend>词汇列表</legend>
        <p>背诵下列单词：</p>
        <app-vocabulary-list [wordList]="wordList"></app-vocabulary-list>
    </fieldset>
</div>

<div class="container" *ngIf="!showContent">
    <div class="row">
        <div class="col-sm-10 col-md-offset-2" id="question">

            <p>请写出该单词的中英文： <app-simple-audio-player [src]="question.question|pronunciationOfWord"></app-simple-audio-player></p>
            <textarea type="text" [(ngModel)]="answer" rows="2" cols="50"
                      (change)="changeAnswer()" [disabled]="reviewMode() || markingMode()"></textarea>
        </div>
    </div>

    <div class="row" *ngIf="!homeWorkMode()">
        <div class="col-sm-10 col-md-offset-2">
            <p [ngClass]="{'text-success':correct(),'text-danger':!correct()}">学生答案：{{answer}}</p>
            <p style="color:#2ECC71;">正确答案：{{question.answer}}</p>
        </div>
    </div>
    <app-question-marker *ngIf="markingMode()" [score]="question.score || 1" (marking)="updateScore($event)"></app-question-marker>
</div>

