<mat-expansion-panel class="mat-elevation-z0" [expanded]="open">
    <mat-expansion-panel-header><span>{{assignmentInfo.assignmentName}}</span></mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutGap="10px">
        <app-grade-info-item-detail
                *ngFor="let gradeInfo of assignmentInfo.gradeInfoList"
                [gradeInfo]="gradeInfo"
                [classId]="classId"
                [needToMark]="needToMark"
                [assignmentId]="assignmentInfo.assignmentId">
        </app-grade-info-item-detail>
    </div>
</mat-expansion-panel>
