h3{
    font-size: 18px;
    font-weight: bolder;
}
md-list {
    border: 1pt solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: white;
}

md-list .header{
    font-size: 18px;
    color: #262626;
    margin: 10px 0 10px 20px;
}