<div class="user-list">
    <md-list>
        <p class="header">班级成员</p>
        <md-divider></md-divider>
        <md-list-item *ngFor="let teacher of teacherList" fxLayout="row">
            <md-icon md-list-icon>person</md-icon>
            <h4 md-line>{{teacher.nickName}}</h4>
            <p md-line>老师</p>
        </md-list-item>
        <md-list-item *ngFor="let student of studentList" fxLayout="row">
            <md-icon md-list-icon>person</md-icon>
            <h4 md-line>{{student.nickName}}</h4>
            <p md-line>学生</p>
        </md-list-item>
    </md-list>
</div>