h3{
    font-size: 18px;
    font-weight: bolder;
}
mat-list {
    border: 1pt solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: white;
}

mat-list .header{
    font-size: 18px;
    color: #262626;
    margin: 10px 0 10px 20px;
}

.info{
    height: 72px;
}

mat-icon{
    overflow: hidden;
    width: 48px;
    height: 48px;
    margin: 12px;
}

.info h4{
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
}

.info p{
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
}