<div class="container">
   <!-- <div class="row" >
        <div class="col-sm-8">
            <fieldset *ngIf="content">
                <legend>阅读文章</legend>
                <div class="vocabulary-list">
                    <!--第一列单词
                    <div class="col-sm-6">
                        <p>{{content}}</p>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="!content">
                <legend>添加词汇</legend>
                <form ngNativeValidate class="form-inline"
                      #form1="ngForm" (ngSubmit)="addContent(form1)">
                    <div class="form-group">
                        <label>文章段落</label>
                        <textarea class="form-control"
                                  rows="10"
                                  id="passageContent"
                                  name="passageContent"
                                  ngModel
                                  required></textarea>
                    </div>

                    <button type="submit" class="btn-primary">确定</button>
                </form>
            </fieldset>
        </div>
    </div>
-->
    <div class="row">
        <form ngNativeValidate #form1="ngForm" (ngSubmit)="addQuestion(form1)">
        <div class="form-group">
            <label>文章段落</label>
            <textarea class="form-control"
                      rows="10"
                      id="passage"
                      name="passage"
                      ngModel
                      required></textarea>
        </div>

        <div class="form-group">
            <label>题目</label>
            <input class="form-control"
                   id="question"
                   name="question"
                   type="text"
                   ngModel
                   required>
        </div>

        <div class="form-group">
            <label>选项</label>
            <input class="form-control"
                   id="option1"
                   name="option1"
                   type="text"
                   placeholder="选项A"
                   ngModel
                   required>
            <input class="form-control"
                   id="option2"
                   name="option2"
                   type="text"
                   placeholder="选项B"
                   ngModel
                   required>
            <input class="form-control"
                   id="option3"
                   name="option3"
                   type="text"
                   placeholder="选项C"
                   ngModel
                   required>
            <input class="form-control"
                   id="option4"
                   name="option4"
                   type="text"
                   placeholder="选项D"
                   ngModel
                   required>
        </div>

        <div class="form-group">
            <label>答案</label>
            <input class="form-control"
                   id="answer"
                   name="answer"
                   type="text"
                   ngModel
                   required>
        </div>

        <button type="submit" class="btn-primary">提交</button>
        </form>
    </div>
</div>