<div id="question-div" fxLayout.gt-sm="row" fxLayout.sm="column">
    <fieldset fxFlex="50%">
        <legend>编辑题目</legend>
        <form ngNativeValidate #form="ngForm" (ngSubmit)="addQuestion(form)"
                     fxLayout="column" fxLayoutGap="30px">

            <md-input-container>
                <input mdInput name="paragraph" type="number" required ngModel placeholder="段落">
            </md-input-container>

            <md-input-container>
                <input mdInput name="question" type="text" required ngModel placeholder="题目">
            </md-input-container>

            <md-select placeholder="选择题目类型" name="questionType" required [(ngModel)]="questionType">
                <md-option [value]="assignmentService.getTPOReadingSingleChoice()">单选题</md-option>
                <md-option [value]="assignmentService.getTPOReadingInsertChoice()">插入题</md-option>
                <md-option [value]="assignmentService.getTPOReadingTopic()">主旨题</md-option>
            </md-select>

            <md-input-container>
                <input mdInput name="option1" type="text" required ngModel placeholder="选项A">
            </md-input-container>

            <md-input-container>
                <input mdInput name="option2" type="text" required ngModel placeholder="选项B">
            </md-input-container>

            <md-input-container>
                <input mdInput name="option3" type="text" required ngModel placeholder="选项C">
            </md-input-container>

            <md-input-container>
                <input mdInput name="option4" type="text" required ngModel placeholder="选项D">
            </md-input-container>

            <md-input-container *ngIf="questionType == 'tpo_reading_topic'">
                <input mdInput name="option5" type="text" required ngModel placeholder="选项E">
            </md-input-container>

            <md-input-container *ngIf="questionType == 'tpo_reading_topic'">
                <input mdInput name="option6" type="text" required ngModel placeholder="选项F">
            </md-input-container>

            <md-input-container>
                <input mdInput name="answer" type="text" required ngModel placeholder="答案">
            </md-input-container>

            <button md-raised-button color="primary" type="submit">确认</button>
    </form>
    </fieldset>

    <fieldset fxFlex="50%">
        <legend>阅读文章</legend>
        <form ngNativeValidate (ngSubmit)="addContent()"
              fxLayout="column" fxLayoutGap="30px">


            <textarea class="form-control" [froalaEditor]="EditorOptions"
                      id="passage" [(froalaModel)]="editorPassage"
                      rows="10" required ></textarea>

            <button md-raised-button color="primary" type="submit">确认</button>
        </form>

    </fieldset>
</div>