<div id="question-div" fxLayout.gt-sm="row" fxLayout.sm="column">
    <fieldset fxFlex="50%">
        <legend>编辑题目</legend>
        <form ngNativeValidate #form="ngForm" (ngSubmit)="addQuestion(form)"
                     fxLayout="column" fxLayoutGap="30px">

            <mat-input-container>
                <input matInput name="paragraph" type="number" required ngModel placeholder="段落">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="question" type="text" required ngModel placeholder="题目">
            </mat-input-container>

            <mat-form-field>
                <mat-select placeholder="选择题目类型" name="questionType" required [(ngModel)]="questionType">
                    <mat-option [value]="assignmentService.getTPOReadingSingleChoice()">单选题</mat-option>
                    <mat-option [value]="assignmentService.getTPOReadingInsertChoice()">插入题</mat-option>
                    <mat-option [value]="assignmentService.getTPOReadingTopic()">主旨题</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-input-container>
                <input matInput name="option1" type="text" required ngModel placeholder="选项A">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option2" type="text" required ngModel placeholder="选项B">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option3" type="text" required ngModel placeholder="选项C">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option4" type="text" required ngModel placeholder="选项D">
            </mat-input-container>

            <mat-input-container *ngIf="questionType == 'tpo_reading_topic'">
                <input matInput name="option5" type="text" required ngModel placeholder="选项E">
            </mat-input-container>

            <mat-input-container *ngIf="questionType == 'tpo_reading_topic'">
                <input matInput name="option6" type="text" required ngModel placeholder="选项F">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="answer" type="text" required ngModel placeholder="答案">
            </mat-input-container>

            <button mat-raised-button color="primary" type="submit">确认</button>
    </form>
    </fieldset>

    <fieldset fxFlex="50%">
        <legend>阅读文章</legend>
        <form ngNativeValidate (ngSubmit)="addContent()"
              fxLayout="column" fxLayoutGap="30px">

            <app-text-editor
                    [(ngModel)]="editorPassage"
                    [editorOptions]="EditorOptions"
                    [required]="true"
                    name="editorPassage"
            ></app-text-editor>

            <button mat-raised-button color="primary" type="submit">确认</button>
        </form>

    </fieldset>
</div>