<nb-card>
  <nb-card-header>
    班级成员
  </nb-card-header>

  <nb-card-body>
    <div *ngFor="let teacher of teacherList" class="info" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon svgIcon="avatars:{{teacher.avatar}}"></mat-icon>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
        <h4>{{teacher.nickName}}</h4>
        <p>老师</p>
      </div>
    </div>

    <div *ngFor="let student of studentList" class="info" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon svgIcon="avatars:{{student.avatar}}"></mat-icon>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
        <h4>{{student.nickName}}</h4>
        <p>学生</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>