<app-question-header
        [assignmentName]="assignmentName"
        [classId]="classId"
        [mode]="mode"
        (next)="next()"
        (pre)="pre()"
        [showNext]="showNextButton"
        [showPre]="showPreButton"
        [disableNext]="disableNextButton"
></app-question-header>
<div class="container">
    <div *ngIf="homeworkMode()" class="homework-mode">
        <div class="question-content"
             *ngIf="!directionComplete"
             fxLayout="column" fxLayoutAlign="start center">
            <app-question-index [content]="getPagerContent()"></app-question-index>
            <img class="profile" src="/assets/tpo/speaking/profile.jpg">
            <p>播放题型介绍</p>
            <app-background-audio-player
                    [src]="tpoSpeakingQuestion.getQuestionDirectionRecordUrl()"
                    (completed)="completeDirection()"
            ></app-background-audio-player>
        </div>

        <div class="question-content"
             *ngIf="shouldShowQuestion()"
             fxLayout="column" fxLayoutAlign="start center">
            <div class="question-container" fxLayout="column" >
                <app-question-index [content]="getPagerContent()"></app-question-index>
                <p class="question">{{tpoSpeakingQuestion.question}}</p>
                <app-background-audio-player
                        [src]="tpoSpeakingQuestion.getQuestionRecordUrl()"
                        (completed)="completeQuestion()"
                ></app-background-audio-player>
                <app-tpo-speaking-recorder
                        [start]="questionComplete"
                        [prepareTime]="getPrepareTime()"
                        [responseTime]="getResponseTime()"
                        (uploaded)="completeRecording($event)"
                ></app-tpo-speaking-recorder>
            </div>

        </div>

        <div class="question-content"
             *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
         && directionComplete && !passageComplete && !dialogComplete"
             fxLayout="column" fxLayoutAlign="center center">
            <app-count-down-timer fxFlexAlign="center" [time]="45" (completed)="completePassage()" ></app-count-down-timer>
            <div class="passage" [froalaView]="tpoSpeakingQuestion.passage"></div>
        </div>

        <div class="question-content"
             *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
         && directionComplete && passageComplete && !dialogComplete"
             fxLayout="column" fxLayoutAlign="center center">
            <app-audio-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()" (completed)="completeDialog()"></app-audio-player>
        </div>

        <div class="question-content"
             *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'
         && directionComplete && !dialogComplete"
             fxLayout="column" fxLayoutAlign="center center">
            <app-audio-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()" (completed)="completeDialog()"></app-audio-player>
        </div>

    </div>

    <div *ngIf="markingMode()">
        <div class="question-content"
             fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
            <app-question-index fxFlexAlign="start" [content]="getPagerContent()"></app-question-index>
            <mat-expansion-panel class="mat-elevation-z0 question-detail" [expanded]="false"
                                *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
                            || tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'">
                <mat-expansion-panel-header><span>题目详情</span></mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="passage" *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'"
                         [froalaView]="tpoSpeakingQuestion.passage"></div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label>对话录音：</label>
                        <app-tpo-review-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()"></app-tpo-review-player>
                    </div>
                </div>
            </mat-expansion-panel>

            <div class="question-container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
                <p class="question">{{tpoSpeakingQuestion.question}}</p>
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                    <label>学生的回答：</label>
                    <app-simple-audio-player [src]="getStudentRecordUrl()"></app-simple-audio-player>
                    <span fxFlex></span>
                    <mat-card>
                        <mat-card-content>
                            <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                        </mat-card-content>
                    </mat-card>
                    <app-score-marker [score]="tpoSpeakingQuestion.score" (marking)="markScore($event)"></app-score-marker>
                </div>
                <app-text-editor
                        [(ngModel)]="comment"
                        [editorOptions]="editorOption"
                        [required]="true"
                        (ngModelChange)="makeComment()"
                        name="comment"
                ></app-text-editor>
            </div>
        </div>
    </div>

    <div *ngIf="reviewMode()" >
        <div class="question-content"
             fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
            <app-question-index fxFlexAlign="start" [content]="getPagerContent()"></app-question-index>
            <mat-expansion-panel class="mat-elevation-z0 question-detail" [expanded]="false" *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
                    || tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'">
                <mat-expansion-panel-header><span>题目详情</span></mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="passage" *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'"
                         [froalaView]="tpoSpeakingQuestion.passage"></div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label>对话录音：</label>
                        <app-tpo-review-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()"></app-tpo-review-player>
                    </div>
                </div>
            </mat-expansion-panel>
            <div class="question-container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
                <p class="question">{{tpoSpeakingQuestion.question}}</p>
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                    <label>学生的回答：</label>
                    <app-simple-audio-player [src]="getStudentRecordUrl()"></app-simple-audio-player>
                    <mat-card>
                        <mat-card-content>
                            <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                        </mat-card-content>
                    </mat-card>
                </div>
                <p>老师评价：</p>
                <div class="comment" [froalaView]="comment"></div>
            </div>
        </div>

    </div>
</div>
