<div *ngIf="homeworkMode()">
    <div class="question-content"
         *ngIf="!directionComplete"
        fxLayout="column" fxLayoutAlign="space-around center">
        <img class="profile" src="/assets/tpo/speaking/profile.jpg">
        <p>播放题型介绍</p>
        <app-background-audio-player
                [src]="tpoSpeakingQuestion.getQuestionDirectionRecordUrl()"
                (completed)="completeDirection()"
        ></app-background-audio-player>
    </div>

    <div class="question-content"
         *ngIf="shouldShowQuestion()"
         fxLayout="column" fxLayoutAlign="start center">
        <div class="question-container" fxLayout="column" >
            <app-question-index [content]="getPagerContent()"></app-question-index>
            <p class="question">{{tpoSpeakingQuestion.question}}</p>
            <app-background-audio-player
                    [src]="tpoSpeakingQuestion.getQuestionRecordUrl()"
                    (completed)="completeQuestion()"
            ></app-background-audio-player>
            <app-tpo-speaking-recorder
                    [start]="questionComplete"
                    [prepareTime]="getPrepareTime()"
                    [responseTime]="getResponseTime()"
                    (uploaded)="completeRecording($event)"
            ></app-tpo-speaking-recorder>
        </div>

    </div>

    <div class="question-content"
         *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
         && directionComplete && !passageComplete && !dialogComplete"
         fxLayout="column" fxLayoutAlign="center center">
        <app-count-down-timer fxFlexAlign="center" [time]="45" (completed)="completePassage()" ></app-count-down-timer>
        <div class="passage" [froalaView]="tpoSpeakingQuestion.passage"></div>
    </div>

    <div class="question-content"
         *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
         && directionComplete && passageComplete && !dialogComplete"
         fxLayout="column" fxLayoutAlign="center center">
        <app-audio-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()" (completed)="completeDialog()"></app-audio-player>
    </div>

    <div class="question-content"
         *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'
         && directionComplete && !dialogComplete"
         fxLayout="column" fxLayoutAlign="center center">
        <app-audio-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()" (completed)="completeDialog()"></app-audio-player>
    </div>

</div>

<div *ngIf="markingMode()">
    <div class="question-content" *ngIf="tpoSpeakingQuestion.questionType =='tpo_speaking_q1q2_type'"
         fxLayout="column" fxLayoutAlign="start center">
        <div class="question-container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
            <app-question-index [content]="getPagerContent()"></app-question-index>
            <p class="question">{{tpoSpeakingQuestion.question}}</p>
            <div fxLayout="row" fxLayoutAlign="start center">
                <label>学生的回答：</label>
                <app-simple-audio-player [src]="getStudentRecordUrl()"></app-simple-audio-player>
                <span fxFlex></span>
                <md-card>
                    <md-card-content>
                        <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                    </md-card-content>
                </md-card>
                <app-score-marker [score]="tpoSpeakingQuestion.score" (marking)="markScore($event)"></app-score-marker>
            </div>
            <textarea class="form-control"
                      [froalaEditor]="editorOption"
                      [(froalaModel)]="comment"
                      [(ngModel)]="comment" (ngModelChange)="makeComment()"
                      rows="10" required ></textarea>

        </div>
    </div>

    <div class="question-content" fxLayout="row"
        *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
        || tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'">
        <div fxFlex="50%" fxLayout="column">
            <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
                <app-question-index [content]="getPagerContent()"></app-question-index>
                <div *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'">
                    <label>阅读材料：</label>
                    <div class="passage" [froalaView]="tpoSpeakingQuestion.passage"></div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center"
                     *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
                    || tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'">
                    <label>对话录音：</label>
                    <app-tpo-review-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()"></app-tpo-review-player>
                </div>
            </div>
        </div>

        <div fxFlex="50%">
            <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
                <p class="question">{{tpoSpeakingQuestion.question}}</p>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <label>学生的回答：</label>
                    <app-simple-audio-player [src]="getStudentRecordUrl()"></app-simple-audio-player>
                    <span fxFlex></span>
                    <md-card>
                        <md-card-content>
                            <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                        </md-card-content>
                    </md-card>
                    <app-score-marker [score]="tpoSpeakingQuestion.score" (marking)="markScore($event)"></app-score-marker>
                </div>
                <textarea class="form-control"
                          [froalaEditor]="editorOption"
                          [(froalaModel)]="comment"
                          [(ngModel)]="comment" (ngModelChange)="makeComment()"
                          rows="10" required ></textarea>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reviewMode()" >
    <div class="question-content"
         fxLayout="column" fxLayoutAlign="start center">
        <div class="question-container" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign.sm="start start">
            <app-question-index [content]="getPagerContent()"></app-question-index>
            <div class="passage" *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'"
                 [froalaView]="tpoSpeakingQuestion.passage"></div>
            <div fxLayout="row" fxLayoutAlign="start center"
                 *ngIf="tpoSpeakingQuestion.questionType == 'tpo_speaking_q3q4_type'
                    || tpoSpeakingQuestion.questionType == 'tpo_speaking_q5q6_type'">
                <label>对话录音：</label>
                <app-tpo-review-player [src]="tpoSpeakingQuestion.getDialogRecordUrl()"></app-tpo-review-player>
            </div>
            <p class="question">{{tpoSpeakingQuestion.question}}</p>
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                <label>学生的回答：</label>
                <app-simple-audio-player [src]="getStudentRecordUrl()"></app-simple-audio-player>
                <md-card>
                    <md-card-content>
                        <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                    </md-card-content>
                </md-card>
            </div>
            <p>老师评价：</p>
            <div class="comment" [froalaView]="comment"></div>
        </div>
    </div>

</div>