.container{
    background-color: white;
    position: absolute;
    top: 90px;
    bottom: 0px;
    width: 100%;
}

.profile{
    margin: 10px;
}

.question-content{
    padding: 24px 30px 24px 30px;
    min-height: 100%;
}

app-question-index{
    margin-bottom: 10px;
}

.question{
    max-width: 100%;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 5px;
    margin:15px 0px 10px 0px;
    border-bottom: 1px solid lightgray;
}

.question-detail{
    width: 100%;
}

.passage{
    max-width: 100%;
    min-height: 250px;
    padding: 0 10px 0 10px;
    background-color: white;
    border: 1px solid lightgray;
    margin:10px 0px 10px 0px;
}

app-audio-player{
    width: 700px;
    margin-top: 50px;
}
mat-expansion-panel{
    margin-bottom: 10px !important;
    border:1px solid lightgray;
}

mat-expansion-panel .passage{
    margin:0 0px 0 0;
    min-height: 200px;
}

.question-container{
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    padding: 15px 24px 15px 24px;
}

.question-container p{
    margin: 0;
}

mat-card.mat-card{
    padding: 8px 15px 8px 15px;
}

app-tpo-review-player{
    width: 500px;
}

app-score-marker{
    margin-left: 20px;
}

.comment{
    background-color: white;
    border:1px solid lightgray;
    min-height: 200px;
    padding: 0 10px 0 10px;
}

.homework-mode .question-container{
    width: 700px;
    background-color: rgba(255, 255, 255, 0);
    border:none;
}

app-count-down-timer{
    width: 722px;
}

.homework-mode .passage{
    width: 700px;
}