<div class="question-content" fxLayout="row"
     fxLayoutWrap="wrap" fxLayout.sm="column"
     fxLayoutGap="10px" fxLayoutAlign="space-around">
    <div class="question" fxLayout="column" fxFlex="1 1 37%">
        <p><strong>{{tpoReadingQuestion.question}}</strong></p>
        <md-radio-group fxLayout="column"
                        fxLayoutGap="5px"
                        [(ngModel)]="answer"
                        (change)="changeAnswer()"
                        [disabled]="reviewMode()">
            <md-radio-button *ngFor="let option of tpoReadingQuestion.options; let i = index"
                             color="accent"
                             name="choices"
                             [value]="i|convert09ToAZ"
                             [checked]="answer == (i|convert09ToAZ)">
                <p>{{i|convert09ToAZ}}. {{option}}</p>
            </md-radio-button>
        </md-radio-group>
    </div>
    <div class="passage" fxFlex="1 1 58%">
        <div [froalaView]="tpoReadingQuestion.passage"></div>
    </div>

    <div class="answer" *ngIf="!homeWorkMode()" fxFlex="0 0 100%">
        <p [ngClass]="{'correct-answer':correct(),'text-danger':!correct()}">学生答案：{{answer}}</p>
        <p class="correct-answer">正确答案：{{tpoReadingQuestion.answer}}</p>
    </div>
</div>
