<app-question-header
        [assignmentName]="assignmentName"
        [classId]="classId"
        [mode]="mode"
        (next)="next()"
        (pre)="pre()"
        [questionType]="tpoReadingQuestion.questionType"
        [showNext]="showNextButton"
        [showPre]="showPreButton"
        [disableNext]="disableNextButton"
        (viewChanged)="changeView()"
></app-question-header>

<div class="container">
    <div *ngIf="homeworkMode()">
        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_single'
             || tpoReadingQuestion.questionType == 'tpo_reading_insert'"
             fxLayout="row" fxLayoutWrap="wrap" fxLayout.sm="column" fxLayoutAlign="space-around">
            <div class="question" fxLayout="column" fxFlex="1 1 50%">
                <app-question-index [content]="getPagerContent()"></app-question-index>
                <div>
                    <p *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_insert'">Look at the four squares [] that indicate where the following sentence could be added to the passage.</p>
                    <p *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_insert'">Where would the sentence best fit?</p>
                    <p><strong>{{tpoReadingQuestion.question}}</strong></p>
                </div>

                <mat-radio-group fxLayout="column"
                                fxLayoutGap="5px"
                                [(ngModel)]="answer"
                                (change)="changeAnswer()">
                    <mat-radio-button *ngFor="let option of tpoReadingQuestion.options; let i = index"
                                     color="accent"
                                     name="choices"
                                     [value]="i|convert09ToAZ">
                        <p>{{i|convert09ToAZ}}
                            <span *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_single'">
                                .{{option}}
                            </span>
                        </p>
                    </mat-radio-button>
                </mat-radio-group>
                <p><strong>Paragraph {{tpoReadingQuestion.paragraph}} is marked with ♦</strong></p>
            </div>
            <div  fxFlex="1 1 50%" #passageContainer class="passage" [froalaView]="passage"></div>
        </div>

        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_multiple'"
             fxLayout="row" fxLayoutWrap="wrap"
             fxLayout.sm="column" fxLayoutAlign="space-around">
            <div class="question" fxLayout="column" fxFlex="1 1 50%">
                <app-question-index [content]="getPagerContent()"></app-question-index>
                <p><strong>{{tpoReadingQuestion.question}}</strong></p>

                <div fxLayout="column" fxLayoutGap="10px">
                    <mat-checkbox *ngFor="let option of tpoReadingQuestion.options;let i = index"
                                  [(ngModel)]="checkboxAnswers[i]" (change)="changeCheckboxAnswer()">
                        {{i|convert09ToAZ}}. {{option}}
                    </mat-checkbox>
                </div>
                <p><strong>Paragraph {{tpoReadingQuestion.paragraph}} is marked with ♦</strong></p>
            </div>
            <div  fxFlex="1 1 50%" #passageContainer class="passage" [froalaView]="passage"></div>
        </div>

        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_category_type' && viewMode =='question'">
            <div class="topic-question" fxLayout="column" fxLayoutAlign="start">
                <p><strong>{{getQuestionForCategoryType()}}</strong></p>

                <div class="selected-answer"
                     fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="20px">
                    <div *ngFor="let category of getCategoryList(); let i = index"
                         fxFlex="0 0 47%" fxLayout="column" fxLayoutAlign="start center">
                        <p><strong>{{category}}</strong></p>
                        <div class="category-choice-item-container"
                             dnd-droppable (onDropSuccess)="dropCategoryAnswer(i, $event)">
                             <p *ngFor="let answerIndex of categoryAnswers[i]"
                                (click)="removeCategoryAnswer(i, answerIndex)">
                                 {{answerIndex|convert09ToAZ}}.{{tpoReadingQuestion.options[answerIndex]}}
                             </p>
                        </div>
                    </div>
                </div>

                <h3 fxFlexAlign="center">Answer Choices</h3>
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start">
                    <div class="choice-item-container"
                         *ngFor="let option of tpoReadingQuestion.options;let i = index"
                         fxFlex="1 1 50%" dnd-draggable
                         [dragEnabled]="draggableFroCategory(i)" [dragData]="i">
                        <div class="choice-item" fxLayout="column" fxLayoutAlign="center">
                            <p *ngIf="draggableFroCategory(i)">{{i|convert09ToAZ}}.{{option}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_topic' && viewMode =='question'">
            <div class="topic-question" fxLayout="column" fxLayoutAlign="start">
                <p>Directions:An introductory sentence for a brief summary of the passage is provided below.Complete the summary by selecting THREE answer choices that express the most important ideas in the passage.Some answer choices do not belong in summary because they express ideas that are not presented in the passage or are minor ideas in the passage.The Question is worth 2 points.</p>
                <p><strong>{{tpoReadingQuestion.question}}</strong></p>

                <div class="selected-answer" fxLayout="column" fxLayoutAlign="start center">
                    <div class="choice-item-container"
                         *ngFor="let selectedAnswerIndex of selectedAnswers;let i = index"
                         dnd-droppable (onDropSuccess)="dropAnswer(i, $event)">
                        <div class="choice-item" fxLayout="column" fxLayoutAlign="center" (click)="removeAnswer(i)" >
                            <p *ngIf="selectedAnswerIndex >= 0">
                                {{selectedAnswerIndex|convert09ToAZ}}.{{tpoReadingQuestion.options[selectedAnswerIndex]}}
                            </p>
                        </div>
                    </div>
                </div>

                <h3 fxFlexAlign="center">Answer Choices</h3>
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around">
                    <div class="choice-item-container" *ngFor="let option of tpoReadingQuestion.options;let i = index"
                         fxFlex="1 1 50%" dnd-draggable [dragEnabled]="!selectedAnswers.includes(i)" [dragData]="i">
                        <div class="choice-item" fxLayout="column" fxLayoutAlign="center">
                            <p *ngIf="!selectedAnswers.includes(i)">{{i|convert09ToAZ}}.{{option}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="question-content"
             *ngIf="(tpoReadingQuestion.questionType == 'tpo_reading_topic' ||
                    tpoReadingQuestion.questionType == 'tpo_reading_category_type')&&
                    viewMode =='text'"
             fxLayout="row" fxLayoutAlign="end">
            <div fxFlex="1 1 50%" #passageContainer class="passage" [froalaView]="passage"></div>
        </div>
    </div>

    <div *ngIf="reviewMode()">
        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_single'
             || tpoReadingQuestion.questionType == 'tpo_reading_insert'
             || tpoReadingQuestion.questionType == 'tpo_reading_multiple'"
             fxLayout="row" fxLayoutWrap="wrap" fxLayout.sm="column" fxLayoutAlign="space-around">
            <div class="question" fxLayout="column" fxFlex="1 1 50%">
                <app-question-pager></app-question-pager>
                <div>
                    <p *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_insert'">Look at the four squares [] that indicate where the following sentence could be added to the passage.<br/>Where would the sentence best fit?</p>
                    <p><strong>{{tpoReadingQuestion.question}}</strong></p>
                </div>

                <ul *ngIf="tpoReadingQuestion.questionType !== 'tpo_reading_insert'">
                    <li *ngFor="let option of tpoReadingQuestion.options; let i = index">
                        {{i|convert09ToAZ}}. {{option}}
                    </li>
                </ul>

                <p><strong>Paragraph {{tpoReadingQuestion.paragraph}} is marked with ♦</strong></p>


                <div class="answer">
                    <p [ngClass]="{'correct-answer':correct(),'text-danger':!correct()}">学生答案：{{answer}}</p>
                    <p class="correct-answer">正确答案：{{tpoReadingQuestion.answer}}</p>
                </div>
            </div>
            <div fxFlex="1 1 50%" #passageContainer class="passage" [froalaView]="passage"></div>
        </div>

        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_category_type' && viewMode == 'question'">
            <div class="topic-question" fxLayout="column" fxLayoutAlign="start">
                <p><strong>{{getQuestionForCategoryType()}}</strong></p>

                <h3 fxFlexAlign="center">Answer Choices</h3>
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start">
                    <div class="choice-item-container"
                         *ngFor="let option of tpoReadingQuestion.options;let i = index"
                         fxFlex="1 1 50%" dnd-draggable
                         [dragEnabled]="false" [dragData]="i">
                        <div class="choice-item" fxLayout="column" fxLayoutAlign="center">
                            <p>{{i|convert09ToAZ}}.{{option}}</p>
                        </div>
                    </div>
                </div>

                <div class="answer" [style.padding-left]="'20px'">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start" fxLayoutGap="50px">
                        <p fxFlex="100%" [ngClass]="{'correct-answer':correct(),'wrong-answer':!correct()}">
                            <strong>
                                学生答案：
                            </strong>
                        </p>
                        <div *ngFor="let category of getCategoryList();let i = index">
                            <p><strong>{{category}}:</strong></p>
                            <p *ngFor="let answerIndex of categoryAnswers[i]">
                                {{answerIndex|convert09ToAZ}}.{{tpoReadingQuestion.options[answerIndex]}}
                            </p>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start" fxLayoutGap="50px">
                        <p fxFlex="100%" class="correct-answer"><strong>正确答案：</strong></p>
                        <div *ngFor="let category of getCategoryList();let i = index">
                            <p><strong>{{category}}:</strong></p>
                            <p *ngFor="let answerIndex of parseAnswerForCategoryQuestion(tpoReadingQuestion.answer)[i]">
                                {{answerIndex|convert09ToAZ}}.{{tpoReadingQuestion.options[answerIndex]}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="question-content"
             *ngIf="tpoReadingQuestion.questionType == 'tpo_reading_topic' && viewMode =='question'">
            <div class="topic-question" fxLayout="column" fxLayoutAlign="start">
                <p>Directions:An introductory sentence for a brief summary of the passage is provided below.Complete the summary by selecting THREE answer choices that express the most important ideas in the passage.Some answer choices do not belong in summary because they express ideas that are not presented in the passage or are minor ideas in the passage.The Question is worth 2 points.</p>
                <p><strong>{{tpoReadingQuestion.question}}</strong></p>

                <h3 fxFlexAlign="center">Answer Choices</h3>
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around">
                    <div class="choice-item-container" *ngFor="let option of tpoReadingQuestion.options;let i = index"
                         fxFlex="1 1 50%" dnd-draggable [dragEnabled]="false" [dragData]="i">
                        <div class="choice-item" fxLayout="column" fxLayoutAlign="center">
                            <p>{{i|convert09ToAZ}}.{{option}}</p>
                        </div>
                    </div>
                </div>

                <div class="answer">
                    <p [ngClass]="{'correct-answer':correct(),'text-danger':!correct()}">学生答案：{{answer}}</p>
                    <p class="correct-answer">正确答案：{{tpoReadingQuestion.answer}}</p>
                </div>
            </div>
        </div>

        <div class="question-content"
             *ngIf="(tpoReadingQuestion.questionType == 'tpo_reading_topic'
                   ||tpoReadingQuestion.questionType == 'tpo_reading_category_type')
                   && viewMode =='text'"
             fxLayout="row" fxLayoutAlign="end">

            <div fxFlex="1 1 50%" #passageContainer class="passage" [froalaView]="passage"></div>
        </div>
    </div>
</div>


