.question-content{
    background-color: #efeff0;
    min-height: 100vh;
}

.question{
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
}

.topic-question{
    padding:20px 20px 40px 20px;
    background-color: white;
}

.passage{
    padding: 26px 20px 20px 20px;
    background-color: white;
    border-left: 1px solid dimgray;
}

md-radio-button{
    margin: 10px 0px 10px 0px;
}

md-radio-button p{
    margin: 0px;
    white-space: normal;
}

.correct-answer{
    color: #4caf50;
}

.answer{
    padding-top: 20px;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice-item-container{
    transform: none !important;
    -webkit-transform: none !important;
    width: 600px;
    min-height: 80px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.choice-item{
    border:1px solid lightgray;
    background-color: white;
    min-height: 80px;
}
.choice-item p{
    font-size: 15px;
    margin: 0;
    padding: 5px 0px 5px 10px;
}