
#marker{
    position: absolute;
    padding: 0;
    left:0;
    right: 0;
    bottom: 0;
}

button{
    border-radius: 0px;
    width:50%;
    height: 50px;
    margin:0;
    float: left;
    display: inline;
}
