<div class="dialog-container">
  <div class="modal-header">
    <span class="header">添加作业</span>

    <div class="input-group input-group-sm">
      <select #s class="form-control input-group-sm" (change)="changeType(assignmentTypes[s.value])">
        <option *ngFor="let assignmentType of assignmentTypes;let i = index" value="{{i}}">
          {{assignmentType.name}}
        </option>
      </select>
    </div>
    <button class="close" aria-label="Close" (click)="dialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="select-assignment">
      <div class="assignment-item"
           *ngFor="let assignment of assignmentList"
           [ngClass]="{'selected': assignment.assignmentId == selectedId}"
           (click)="selectAssignment(assignment.assignmentId)">
        <span>{{assignment.assignmentName}}</span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary btn-sm" (click)="dialogRef.close()">取消</button>
    <button class="btn btn-primary btn-sm" type="submit" (click)="closeDialog()" color="accent">确定</button>
  </div>
</div>

