<h4>添加作业</h4>
<form ngNativeValidate id="addAssignmentForm" role="form" #f="ngForm"
      (ngSubmit) = "dialogRef.close(f.value)">
    <div fxLayout="column">
        <mat-form-field>
            <mat-select placeholder="选择作业类型"
                        (change)="changeType()"
                        [ngModelOptions]="{standalone:true}"
                        [(ngModel)]="type">
                <mat-option *ngFor="let assignmentType of assignmentTypes"
                            [value]="assignmentType.value">
                    {{assignmentType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="选择作业"
                        name="assignment"
                        ngModel
                        required>
                <mat-option *ngFor="let assignment of assignmentList"
                            [value]="assignment.id">
                    {{assignment.assignmentName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="dialogRef.close()">取消</button>
        <button mat-button type="submit" color="accent">确定</button>
    </mat-dialog-actions>
</form>