<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

    <md-icon svgIcon="avatars:{{gradeInfo.studentAvatar}}" class="avatar"></md-icon>

    <div class="content" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="3px">
        <p class="name">{{gradeInfo.studentName}}</p>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <p class="grade">得分：{{gradeInfo.score}}/{{gradeInfo.totalScore}}</p>
            <div class="star-tag" fxLayout="row" fxLayoutAlign="start center">
                <span><md-icon class="star" *ngIf="gradePercentage >= 0.8">star</md-icon></span>
                <span><md-icon class="star" *ngIf="gradePercentage >= 0.5">star</md-icon></span>
                <span><md-icon class="star">star</md-icon></span>
            </div>
        </div>
    </div>

    <span fxFlex></span>

    <div class="grade-zone" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="5px">
        <p *ngIf="gradeInfo.undoneNum>0" >{{gradeInfo.undoneNum}}题未做</p>
        <p *ngIf="gradeInfo.undoneNum==0" >全部完成</p>
        <p>耗时:{{getTimeForShow()}}</p>
    </div>

    <div class="button-zone" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
        <a *ngIf="!gradeInfo.done && userType != '1'"
           [routerLink]="['/question/list/'+ classId + '/'+ assignmentId + '/'+ httpService.getCurrentId() + '/' + ModeType.HomeWork]">
            <button md-raised-button color="accent">做题</button>
        </a>

        <a *ngIf="gradeInfo.done && userType == '0'"
           [routerLink]="['/question/list/'+ classId + '/'+ assignmentId + '/'+ httpService.getCurrentId() + '/' + ModeType.Review]">
            <button md-raised-button color="primary">查看</button>
        </a>

        <a *ngIf="userType == '1' && needToMark"
           [routerLink]="['/question/list/'+ classId + '/'+ assignmentId + '/'+ gradeInfo.studentId + '/' + ModeType.Marking]">
            <button md-raised-button color="accent">批改</button>
        </a>

        <a *ngIf="userType == '1'"
           [routerLink]="['/question/list/'+ classId + '/'+ assignmentId + '/'+ gradeInfo.studentId + '/' + ModeType.Review]">
            <button md-raised-button color="primary">查看</button>
        </a>
    </div>

</div>
