:host {
    display: flex;
    flex: 1;
}

#container{
    height: 100vh;
    width: 100vh;
}

mat-toolbar span{
    color: white;
}

mat-sidenav {
    width: 240px;
}

mat-list-item{
    margin-top: 15px;
    margin-bottom: 15px;
    align-content: center;
}


.content {
    width: 750px;
}