<div id="question-div">
    <fieldset>
        <legend>编辑题目</legend>
        <form ngNativeValidate #form="ngForm" (ngSubmit)="addQuestion(form)"
              fxLayout="column" fxLayoutGap="30px">
            <mat-input-container>
                <input matInput name="tpoIndex" type="text" required ngModel placeholder="这是第几套TPO">
            </mat-input-container>

            <mat-form-field>
                <mat-select placeholder="这是第几道题目" name="questionIndex" required [(ngModel)]="questionIndex">
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="6">6</mat-option>
                </mat-select>
            </mat-form-field>


            <textarea class="form-control"
                      *ngIf="questionIndex == 3 || questionIndex == 4"
                      [froalaEditor]="passageEditorOptions"
                      [(froalaModel)]="passage"
                      [(ngModel)]="passage"
                      name="passage"
                      rows="5" required></textarea>

            <mat-input-container>
                <input matInput name="question" type="text" required ngModel placeholder="题目">
            </mat-input-container>


            <button mat-raised-button color="primary" type="submit">确认</button>
        </form>
    </fieldset>
</div>