<div class="container" id="question-pager">
    <ul class="pager">
        <li class="previous">
            <button class="btn btn-inverse"
                    type="button"
                    (click)="preQuestion()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{content}}
            </button>
        </li>
        <li class="next">
            <button class="btn btn-inverse"
                    (click)="nextQuestion()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </li>
    </ul>
</div>