.pager-item{
    height: 26px;
    width: 26px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.pager-item p{
    margin: 0px;
    padding: 0px;
}

.selected.correct{
    background-color: #4caf50;
}

.selected.wrong {
    background-color: #f44336;
}

.correct{
    border:2px solid #4caf50;
}

.wrong{
    border:2px solid #f44336;
}