<form ngNativeValidate #form="ngForm" (ngSubmit)="submit()"
      fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start center">
    <h4>编辑综合写作</h4>

    <div class="content" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-around">
        <div fxLayout="column" fxLayoutGap="30px" fxFlex="0 0 40%">
            <mat-input-container>
                <label>请输入阅读文章</label>

                <app-text-editor
                        [(ngModel)]="passage"
                        [editorOptions]="teacherOptions"
                        [required]="true"
                        name="passage"
                ></app-text-editor>

            </mat-input-container>

            <mat-form-field>
                <mat-select placeholder="选择听力材料"
                            name="recordUrl"
                            [(ngModel)]="recordUrl"
                            required>
                    <mat-option *ngFor="let record of recordUrlList;let i = index"
                                [value]="record">
                        TPO{{(i+1)}}-综合写作
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <mat-input-container fxFlex="0 0 40%">
            <label>范文</label>
            <app-text-editor
                    [(ngModel)]="answer"
                    [editorOptions]="teacherOptions"
                    [required]="true"
                    name="answer"
            ></app-text-editor>
        </mat-input-container>
    </div>


    <button mat-raised-button color="primary" type="submit">
        提交
    </button>
</form>
