<h4>添加作业</h4>
<form ngNativeValidate id="createQuestionForm" role="form" #form="ngForm"
      (ngSubmit) = "dialogRef.close(form.value)">
    <div fxLayout="column" fxLayoutGap="8px">
        <mat-form-field>
            <mat-select placeholder="题目类型："
                        name="type"
                        ngModel
                        required>
                <mat-option *ngFor="let type of types"
                            [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="dialogRef.close()">取消</button>
        <button mat-button color="accent">确定</button>
    </mat-dialog-actions>
</form>