<h4>添加作业</h4>
<form ngNativeValidate id="createQuestionForm" role="form" #form="ngForm"
      (ngSubmit) = "dialogRef.close(form.value)">
    <div fxLayout="column" fxLayoutGap="8px">
        <md-select placeholder="题目类型："
                   name="type"
                   ngModel
                   required>
            <md-option *ngFor="let type of types"
                       [value]="type.value">
                {{type.name}}
            </md-option>
        </md-select>
    </div>

    <md-dialog-actions align="end">
        <button md-button type="button" (click)="dialogRef.close()">取消</button>
        <button md-button color="accent">确定</button>
    </md-dialog-actions>
</form>