<div class="assignment-list" fxFlex>
    <mat-list>
        <div fxFlexLayout="row" fxLayoutAlign="start center">
            <p class="header">作业列表</p>
            <span fxFlex></span>
            <button *ngIf="userType == '1'" mat-button class="fab-top-right" (click)="openAddAssignmentDialog()">
                添加作业
            </button>
        </div>
        <mat-divider></mat-divider>
        <mat-accordion [displayMode]="'flat'" [multi]="false">
            <app-grade-info-detail
                    *ngFor="let assignmentInfo of listForShow;let i = index"
                    [open]="i == 0 || openExpansionList[i]"
                    (click)="toggleExpansion(i)"
                    [assignmentInfo]="assignmentInfo"
                    [classId]="classId"
                    [needToMark]="needToMark(assignmentInfo.assignmentType)"
            ></app-grade-info-detail>
        </mat-accordion>

        <div id="more">
            <a fxLayoutAlign="center" *ngIf="listForShow && canShowMore()" (click)="showMore()" type="button">
                <p class="more-info"><small>更多<span class="caret"></span></small></p>
            </a>
            <a fxLayoutAlign="center" *ngIf="listForShow && !loading && !canShowMore()" type="button" disabled="disabled">
                <p class="more-info"><small>已经没有更多作业</small></p>
            </a>
            <a fxLayoutAlign="center" *ngIf="loading">
                <p class="more-info"><small>读取数据中</small></p>
            </a>
        </div>


    </mat-list>
</div>