.assignment-list{
    position: relative;
}

mat-list {
    border: 1pt solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: white;
}

mat-list .header{
    font-size: 18px;
    color: #262626;
    margin: 10px 0 10px 20px;
}

.fab-top-right {
    margin-right: 20px;
}

#more{
    height: 40px;
    line-height: 40px;
    margin:0;
}

#more:hover{
    cursor: pointer;
}

#more a{
    width: 100%;
}

#more p{
    color:#4caf50;
    line-height: 40px;
    margin:0;
}