.assignment-list{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    border: thin solid lightgray;
    border-radius: 6px;
    background-color: white;
}

.assignment-list-header{
    border-bottom: 0.5px solid lightgray;
    height: 70px;
    font-size: 19px;
}

.assignment-list-header p{
    line-height: 70px;
    font-size: 21px;
    font-weight: 600;
}

#more{
    height: 40px;
    line-height: 40px;
    margin:0;
}

#more:hover{
    cursor: pointer;
}

#more p{
    line-height: 40px;
    margin:0;
}