<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>新建题目</h1>

            <div [ngSwitch]="questionType">
                <app-edit-vocabulary-question
                    *ngSwitchCase="assignmentService.getVocabularyQuestionType()"
                    [assignmentId]="assignmentId"
                    [groupId]="questionGroupId"
                ></app-edit-vocabulary-question>
                <app-edit-tporeading-question
                    *ngSwitchCase="assignmentService.getTPOReadingQuestionType()"
                    [assignmentId]="assignmentId"
                    [groupId]="questionGroupId"
                ></app-edit-tporeading-question>
            </div>

        </div>
    </div>
</div>
