<form ngNativeValidate #form="ngForm" (ngSubmit)="addQuestion(form)"
      fxLayout="column"fxLayoutAlign="start center">
    <h4>编辑独立写作题</h4>
    <mat-input-container>
        <label>请输入题目</label>
        <app-text-editor
                [(ngModel)]="question"
                [editorOptions]="EditorOptions"
                [required]="true"
                name="question"
        ></app-text-editor>

    </mat-input-container>


    <mat-input-container>
        <label>请输入范文</label>

        <app-text-editor
                [(ngModel)]="answer"
                [editorOptions]="EditorOptions"
                [required]="true"
                name="answer"
        ></app-text-editor>

    </mat-input-container>

    <button mat-raised-button color="primary" type="submit">
        提交
    </button>
</form>
