<form ngNativeValidate #form="ngForm" (ngSubmit)="addQuestion(form)"
      fxLayout="column"fxLayoutAlign="start center">
    <h4>编辑独立写作题</h4>
    <mat-input-container>
        <label>请输入题目</label>
        <textarea matInput class="form-control" [froalaEditor]="EditorOptions"
                  [(froalaModel)]="question"
                  rows="10" columns="5" required ></textarea>

    </mat-input-container>


    <mat-input-container>
        <label>请输入范文</label>
        <textarea matInput class="form-control" [froalaEditor]="EditorOptions"
                  [(froalaModel)]="answer"
                  rows="10" columns="10" required ></textarea>

    </mat-input-container>

    <button mat-raised-button color="primary" type="submit">
        提交
    </button>
</form>
