<div class="container">
    <div class="row" id="wordlist">
        <div class="col-sm-12">
            <fieldset>
                <legend>单词表</legend>
                <div class="row" *ngFor="let word of wordList;let i=index">
                    <div class="col-sm-3">
                        <p>{{i+1}}.
                            <strong>{{word.english}}</strong>
                            <span><app-simple-audio-player [src]="'http://dict.youdao.com/dictvoice?type=2&audio='+word.english"></app-simple-audio-player></span>
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{word.chinese}}</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
            <legend>添加词汇</legend>
            <form ngNativeValidate class="form-inline"
                  #form1="ngForm" (ngSubmit)="addOneWord(form1)">
                <div class="form-group">
                    <label>英文：</label>
                    <input class="form-control" type="text"
                           id="english" name="english"
                           ngModel required/>
                </div>

                <div class="form-group">
                    <label>中文：</label>
                    <input class="form-control" type="text"
                           id="chinese" name="chinese"
                           ngModel required/>
                </div>

                <button type="submit" class="btn-primary">确定</button>
            </form>
        </fieldset>
        </div>
    </div>
    <div class="row" id="questionList">
        <div class="col-sm-8">
            <fieldset>
            <legend>添加题目</legend>
            <form ngNativeValidate
                  #form2="ngForm" (ngSubmit)="addQuestion(form2)">
                <div class="form-group">
                    <label>题目：</label>
                    <input class="form-control" type="text"
                           id="question" name="question"
                           ngModel required/>
                </div>

                <div class="form-group">
                    <label>答案</label>
                    <input class="form-control"
                           id="answer"
                           name="answer"
                           type="text"
                           ngModel
                           required>
                </div>

                <button type="submit" class="btn-primary">确定</button>
            </form>
        </fieldset>
        </div>
    </div>
</div>

