.container{
    background-color: #efeff0;
    min-height: 100vh;
}

.container p{
    font-weight: 400;
}

.content-page-1 .passage{
    padding: 30px;
    background-color: white;
    border-right: 1px solid dimgray;
}

.direction{
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}

.content-page-2{
    background-color: white;
    padding: 30px 30px 30px 60px;
    min-height: 100vh;
}

.content-page-2 p{
    font-size: 17px;
}

.audio-text{
    height: 24px;
    line-height: 24px;
}

.question{
    color: dimgray;
    padding-right: 30px;
}

.direction{
    padding: 0 30px 0 30px;
    margin-bottom: 5px !important;
}

.question-content .passage {
    padding: 0px 30px 0px 30px;
}


.header md-card{
    padding-top: 10px;
    padding-bottom: 10px;
}

.review-content{
    padding: 10px;
    height: 500px;
    overflow: scroll;
    border: 1px solid lightgray;
    background-color: white;
}

.answer{
    border-top: 1px solid lightgray;
    padding: 20px;
}

.answer p{
    color: #f44336;
}