<app-question-header
        [assignmentName]="assignmentName"
        [classId]="classId"
        [mode]="mode"
        (next)="next()"
        (pre)="pre()"
        [showNext]="showNextButton"
        [showPre]="showPreButton"
        [disableNext]="disableNextButton"
></app-question-header>

<div class="container">
    <div *ngIf="homeworkMode()">
        <div class=" content-page-1" *ngIf="contentIndex == 0"
             fxLayout="row" fxLayoutAlign="start">
            <div class="passage" fxFlex="50%">
                <div [froalaView]="passage"></div>
            </div>
        </div>

        <div class=" content-page-2" *ngIf="contentIndex == 1"
             fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
                <p>Listen to the Lecture:  </p>
                <mat-icon>volume_up</mat-icon>
            </div>
            <app-audio-player [src]="'/assets/records/'+recordUrl+'.mp3'" (completed)="next()"></app-audio-player>
        </div>

        <div class=" question-page" *ngIf="contentIndex > 1"
             fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
            <div class="direction">
                <p>Directions: You have 20 minutes to plan and write your response. Your response will be judged on the basis of the quality of your writing and on how well your response presents the points in the lecture and their relationship to the reading passage. Typically an effective response will be 150 to 225 words. </p>
                <p>Question: Summarize the points made in the lecture, being sure to explain how they challenge the specific theories presented in the reading passage.</p>
            </div>

            <div class="question-content" fxLayout="row"
                 fxLayoutWrap="wrap" fxLayout.sm="column"
                 fxLayoutAlign="start">

                <div class="passage"  fxFlex="50%">
                    <div [froalaView]="passage"></div>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" fxFlex="1 1 50%">
                    <div class="header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                        <mat-card>
                            <mat-card-content>
                                <label class="word-count">Word Count:{{wordCount}}</label>
                            </mat-card-content>
                        </mat-card>

                        <span fxFlex></span>
                    </div>
                    <app-text-editor
                            [(ngModel)]="content"
                            [editorOptions]="EditorStudentOptions"
                            [required]="true"
                            (ngModelChange)="changeAnswer()"
                            name="passage"
                    ></app-text-editor>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="markingMode()">

        <div class="question-page" *ngIf="contentIndex > 1"
             fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
            <div class="direction">
                <p>Directions: You have 20 minutes to plan and write your response. Your response will be judged on the basis of the quality of your writing and on how well your response presents the points in the lecture and their relationship to the reading passage. Typically an effective response will be 150 to 225 words. </p>
                <p>Question: Summarize the points made in the lecture, being sure to explain how they challenge the specific theories presented in the reading passage.</p>
            </div>

            <div class="question-content" fxLayout="row"
                 fxLayoutWrap="wrap" fxLayout.sm="column"
                 fxLayoutAlign="start">

                <div class="passage"  fxFlex="50%">
                    <div [froalaView]="passage"></div>
                </div>
                <div  fxLayout="column" fxFlex="1 1 50%">
                    <div class="header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                        <mat-card>
                            <mat-card-content>
                                <label class="word-count">Word Count:{{wordCount}}</label>
                            </mat-card-content>
                        </mat-card>

                        <mat-card>
                            <mat-card-content>
                                <label>耗时:{{markingScore>=0?markingScore:0}}</label>
                            </mat-card-content>
                        </mat-card>

                        <mat-card>
                            <mat-card-content>
                                <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                            </mat-card-content>
                        </mat-card>

                        <span fxFlex></span>
                        <app-score-marker [score]="integratedWritingQuestion.score" (marking)="markScore($event)"></app-score-marker>
                    </div>
                    <app-text-editor
                            [(ngModel)]="content"
                            [editorOptions]="EditorTeacherOptions"
                            [required]="true"
                            (ngModelChange)="changeAnswer()"
                            name="passage"
                    ></app-text-editor>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="reviewMode()">
        <div class="question-page" *ngIf="contentIndex > 1"
             fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
            <div class="direction">
                <p>Directions: You have 20 minutes to plan and write your response. Your response will be judged on the basis of the quality of your writing and on how well your response presents the points in the lecture and their relationship to the reading passage. Typically an effective response will be 150 to 225 words. </p>
                <p>Question: Summarize the points made in the lecture, being sure to explain how they challenge the specific theories presented in the reading passage.</p>
            </div>

            <div class="question-content" fxLayout="row"
                 fxLayoutWrap="wrap" fxLayout.sm="column"
                 fxLayoutAlign="start">

            <div class="passage"  fxFlex="50%">
                <div [froalaView]="passage"></div>
            </div>
            <div  fxLayout="column" fxLayoutGap="10px" fxFlex="1 1 50%">
                <div class="header" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-card>
                        <mat-card-content>
                            <label class="word-count">Word Count:{{wordCount}}</label>
                        </mat-card-content>
                    </mat-card>

                        <mat-card>
                            <mat-card-content>
                                <label class="grade">分数:{{markingScore>=0?markingScore:0}}</label>
                            </mat-card-content>
                        </mat-card>

                        <span fxFlex></span>
                    </div>
                    <div class="review-content" [froalaView]="content"></div>
                </div>
            </div>

            <div class="answer">
                <p>参考范文：</p>
                <div [froalaView]="integratedWritingQuestion.answer"></div>
            </div>
        </div>
    </div>

</div>
