<mat-toolbar color="primary" fxLayoutGap="20px">
    <button mat-button class="brand">
        <mat-icon>edit</mat-icon>
        <span>琢玉课堂</span>
    </button>

    <div class="search">
        <form  ngNativeValidate
            #form="ngForm" id="myForm"
            (ngSubmit)="searchClass(form.value)"
            class="navbar-form navbar-left">

        <div class="form-group search-bar" fxLayout="row">
            <input type="text" placeholder="搜索班级" name="classForSearch" required ngModel>
            <button mat-icon-button type="submit" class="input-after">
                <mat-icon >search</mat-icon>
            </button>
        </div>
        </form>
    </div>

    <button *ngIf="userType == 1" mat-button (click)="openCreateClassDialog()">新建班级</button>

    <span fxFlex></span>

    <button mat-button [matMenuTriggerFor]="menu">
        {{userName}}<mat-icon>expand_more</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu" x-position="before">
    <button mat-menu-item (click)="logout()">
        <span >退出</span>
    </button>
</mat-menu>