<div class="header-container">
  <div class="logo-container" (click)="gotoHome()">
    <img src="assets/icon.png">
    <div class="logo">琢玉课堂</div>
  </div>

  <div class="main-nav">
    <div class="search">
      <form ngNativeValidate
            #form="ngForm" id="myForm"
            (ngSubmit)="searchClass(form.value)">

        <div class="input-group">
          <input type="text" placeholder="搜索班级"
                 name="classForSearch" required ngModel
                 class="form-control"/>
        </div>
      </form>
    </div>

    <span class="create-class" *ngIf="userType == UserType.TEACHER && showCreateClassButton"
          (click)="openCreateClassDialog()">新建班级</span>
  </div>

  <div class="nav-menu" [nbContextMenu]="items" nbContextMenuTag="nav-menu">

    <span>{{userName}}</span>
    <mat-icon svgIcon="avatars:{{avatar}}"></mat-icon>
  </div>
</div>