


.header-container{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  font-size: 14px;

  .logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 20px;
    cursor: pointer;

    .logo{
      font-size: 1.25rem;
      margin-left: 10px;
    }
  }

  .main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    .input-group{
      position: relative;

      .form-control {
        height: 36px;
        box-sizing: border-box;
        padding-left: 18px;
        border-width: 1px;
        font-size: 14px;

        &::-webkit-input-placeholder {
          font-size: 14px;
        }
      }

    }

    .create-class {
      margin: 0 20px;
      color: #6a6f73;
      cursor: pointer;

      &:hover{
        color: #2A2932;
      }
    }

  }

  .nav-menu{
    margin-right: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span{
      color: #2A2932;
    }

    mat-icon{
      height: 36px;
      width: 36px;
      border-radius: 18px;
      margin-left: 10px;
      overflow: hidden;
    }
  }
}
//
//mat-toolbar button{
//    color: white;
//}
//
//.brand{
//    color:white;
//    font-size: 20px;
//    line-height: 36px;
//    height: 36px;
//    font-weight: 600;
//    display: flex;
//    align-items: center;
//}
//
//.brand mat-icon{
//    margin: 0 5px;
//}
//
//
//.dropdown-menu{
//    min-width: 100px;
//}
//
//
//.search{
//    margin-left: 10px;
//    margin-right: 10px;
//}
//
//.search-bar{
//    padding: 4px 10px 4px 10px;
//    margin: 0px;
//    background-color: white;
//    border-radius: 3px;
//    height: 36px;
//    position: relative;
//}

//.search input{
//    border: none;
//    outline: none;
//    margin-right: 28px;
//    -webkit-box-shadow: 0 0 0 1000px white inset !important;
//}
//
//.input-after{
//    cursor:  pointer;
//    position: absolute;
//    top: 50%;
//    right: 0px;
//    margin-top: -20px;
//    color: lightgray;
//    background-color: transparent;
//}
