
<div class="register-screen" fxLayoutAlign="column" fxLayoutAlign="center center">
    <div class="register" >
        <div class="brand">
            <h3>欢迎加入琢玉课堂</h3>
            <p>让自己变得更好</p>
        </div>

        <form ngNativeValidate role="form" #f="ngForm"
              (ngSubmit) = "onSubmit(f.value)" fxLayout="column" fxLayoutGap="20px">
            <div class="name" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
                <mat-input-container fxFlex>
                    <input matInput type="text"
                           placeholder="用户昵称" name="name"
                           required ngModel>
                </mat-input-container>

                <mat-icon class="avatar"
                         [matMenuTriggerFor]="menu" svgIcon="avatars:{{selectedAvatarUrl}}">
                </mat-icon>
            </div>


            <mat-input-container>
                <input matInput type="email"
                       placeholder="电子邮箱" name="email"
                       required ngModel>
                <mat-icon matSuffix>email</mat-icon>
            </mat-input-container>

            <mat-input-container>
                <input matInput type="password"
                       placeholder="密码" name="password"
                       required ngModel>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-input-container>

            <mat-radio-group fxLayoutGap="10px" name="type" required ngModel>
                <mat-radio-button value="{{UserType.TEACHER}}"><p>教师</p></mat-radio-button>
                <mat-radio-button value="{{UserType.STUDENT}}"><p>学生</p></mat-radio-button>
            </mat-radio-group>

            <button type="submit" mat-raised-button color="primary" fxFlexAlign="end">
                注册
            </button>

            <a routerLink="/login" fxFlexAlign="center"><small>已经有账号？立刻登录</small></a>
        </form>
    </div>
</div>

<mat-menu #menu="matMenu" x-position="before">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let avatar of avatarList" (click)="changeAvatar(avatar)">
            <mat-icon  class="avatar" svgIcon="avatars:{{avatar}}"></mat-icon>
        </mat-grid-tile>
    </mat-grid-list>
</mat-menu>
