<nb-card class="assignment-list">
  <nb-card-header>
    <div class="assignment-header">
      <p class="header">作业列表</p>
      <button class="btn btn-secondary btn-sm" *ngIf="userType == UserType.TEACHER" (click)="openAddAssignmentDialog()">
        添加作业
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-grade-info-detail
            *ngFor="let assignmentGradeVO of listForShow;let i = index"
            [open]="i == 0 || openExpansionList[i]"
            (click)="toggleExpansion(i)"
            [assignmentGradeVO]="assignmentGradeVO"
            [classId]="classId"
            [needToMark]="needToMark(assignmentGradeVO.assignmentType)"
    ></app-grade-info-detail>

    <div id="more">
      <a fxLayoutAlign="center" *ngIf="listForShow && canShowMore()" (click)="showMore()">
        <p class="more-info">
          <small>更多<i class="icon ion-ios-arrow-down"></i></small>
        </p>
      </a>
      <a fxLayoutAlign="center" *ngIf="listForShow && !loading && !canShowMore()" disabled="disabled">
        <p class="more-info">
          <small>已经没有更多作业</small>
        </p>
      </a>
      <a fxLayoutAlign="center" *ngIf="loading">
        <p class="more-info">
          <small>读取数据中</small>
        </p>
      </a>
    </div>
  </nb-card-body>
</nb-card>
