<app-question-header
        [assignmentName]="assignmentName$ | async"
        [mode]="mode"
        [questionType]="currentQuestionType$ | async"
        [classId]="classId"
        (next)="next()"
        (pre)="pre()"
        (viewChanged)="changeView()"
></app-question-header>

<div class="container" id="question-group-list" [ngSwitch]="groupType$ | async">
    <app-tpo-reading-question-detail
            *ngSwitchCase="assignmentService.getTPOReadingQuestionType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [viewMode]="viewMode"
            [shouldShowContent]="shouldShowContent$|async"
            [questionIndex]="questionIndex$ | async"
            [questionListLength]="questionListLength$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
    ></app-tpo-reading-question-detail>
    <app-vocabulary-question-detail
            *ngSwitchCase="assignmentService.getVocabularyQuestionType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [contentIndex]="contentIndex$ | async"
            [shouldShowContent]="shouldShowContent$|async"
            [questionIndex]="questionIndex$ | async"
            [questionListLength]="questionListLength$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
    ></app-vocabulary-question-detail>
    <app-independent-writing-question-detail
            *ngSwitchCase="assignmentService.getIndependentWritingType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [shouldShowContent]="shouldShowContent$|async"
            [questionIndex]="questionIndex$ | async"
            [questionListLength]="questionListLength$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
            (OnMarkScore)="changeScore($event)"
    ></app-independent-writing-question-detail>
    <app-integrated-writing-question-detail
            *ngSwitchCase="assignmentService.getIntegratedWritingType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [contentIndex]="contentIndex$ | async"
            [shouldShowContent]="shouldShowContent$|async"
            [questionIndex]="questionIndex$ | async"
            [questionListLength]="questionListLength$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
            (OnMarkScore)="changeScore($event)"
    ></app-integrated-writing-question-detail>
    <app-tpo-listening-question-detail
            *ngSwitchCase="'tpo_listening'"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [shouldShowContent]="shouldShowContent$|async"
            [questionIndex]="questionIndex$ | async"
            [questionListLength]="questionListLength$ | async"
            [contentIndex]="contentIndex$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
    ></app-tpo-listening-question-detail>
    <div *ngSwitchDefault>{{group}}</div>
</div>
