<app-question-header [assignmentName]="assignmentName$ | async" [mode]="mode"></app-question-header>

<app-question-pager
    [shouldShowContent]="shouldShowContent$|async"
    [questionIndex]="questionIndex$ | async"
    [questionListLength]="questionListLength$ | async"
    (next)="next()"
    (pre)="pre()"
></app-question-pager>
<div class="container" id="question-group-list" [ngSwitch]="groupType$ | async">
    <app-tpo-reading-question-detail
            *ngSwitchCase="assignmentService.getTPOReadingQuestionType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            (OnChangeAnswer)="changeAnswer($event)"
    ></app-tpo-reading-question-detail>
    <app-vocabulary-question-detail
            *ngSwitchCase="assignmentService.getVocabularyQuestionType()"
            [groupContent]="groupContent$ | async"
            [question]="currentQuestion$ | async"
            [lastAnswer]="lastAnswer$ | async"
            [markingScore]="markingScore$ | async"
            [mode]="mode"
            [showContent]="shouldShowContent$ | async"
            (OnChangeAnswer)="changeAnswer($event)"
    ></app-vocabulary-question-detail>
    <div *ngSwitchDefault>{{group}}</div>
</div>
