.container{
    padding-left: 0;
    padding-right: 0;
}

.assignment-header{
    border-color: dimgray;
    border-width: thin;
}

#question-group-list{
    background-color: white;
    min-height: 80%;
    position: relative;
}
