
quill-editor /deep/ .ql-container.ql-snow {
  border: none !important;
}

quill-editor /deep/ p {
  margin-bottom: 16px !important;
  text-align: justify ;
}

/deep/ .ql-container {
  font-size: 16px !important;
}
