@import "../../../../theme";

@include nb-install-component () {
  nb-layout /deep/ .layout nb-layout-header.fixed ~ .layout-container {
    padding-top: nb-theme(header-height);
  }

  nb-layout /deep/ .layout{
    font-family: nb-theme(layout-font-family);
  }

  nb-layout-header {
    position: relative;
    width: 100%;

    /deep/ nav {
      box-shadow: nb-theme(header-shadow);
      height: nb-theme(header-height);
      padding: nb-theme(header-padding);
      border-bottom: 2px solid #eee;
    }
  }

  nb-layout-column {
    padding-top: 25px !important;
    background: nb-theme(layout-bg);
    min-height: 100vh;
  }

  nb-layout-footer {
    position: relative;
  }
}


