
<div class="header-container">
  <div class="logo-container" (click)="gotoHome()">
    <img src="assets/icon.png">
    <div class="logo">琢玉课堂</div>
  </div>

  <div class="main-nav">

    <span class="nav-button" routerLink="/class/{{classId}}/d" routerLinkActive="selected">班级</span>
    <span class="nav-button" routerLink="/class/{{classId}}/a" routerLinkActive="selected">作业</span>
    <span class="nav-button" routerLink="/class/{{classId}}/r" routerLinkActive="selected">资源</span>

  </div>

</div>