<md-toolbar color="primary" fxLayoutGap="20px">
    <button md-button class="brand" (click)="gotoHome()">
        <md-icon>edit</md-icon>
        <span>琢玉课堂</span>
    </button>

    <div class="search">
        <form  ngNativeValidate
               #form="ngForm"
               (ngSubmit)="searchClass(form)"
               class="navbar-form navbar-left">

            <div class="form-group search-bar" fxLayout="row">
                <input type="text" placeholder="搜索班级" name="classForSearch" required ngModel>
                <button md-icon-button class="input-after" type="submit">
                    <md-icon >search</md-icon>
                </button>
            </div>
        </form>
    </div>

    <span fxFlex></span>

    <button md-button [mdMenuTriggerFor]="menu">
        {{userName}}<md-icon>expand_more</md-icon>
    </button>
</md-toolbar>

<md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item (click)="logout()">
        <span >退出</span>
    </button>
</md-menu>