.brand{
    font-size: 20px;
    font-weight: 600;
}

.search-bar{
    padding: 4px 10px 4px 10px;
    margin: 0px;
    background-color: white;
    border-radius: 3px;
    height: 36px;
    position: relative;
}

.search input{
    border: none;
    outline: none;
    margin-right: 28px;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.input-after{
    cursor:  pointer;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -18px;
    color: lightgray;
    background-color: transparent;
}
