<h4>编辑题目</h4>

<div id="passage-record">
    <fieldset>
        <legend>题目录音</legend>

        <form ngNativeValidate #form="ngForm" (ngSubmit)="addContent(form)"
              fxLayout="column" fxLayoutGap="20px">
            <mat-input-container>
                <input matInput name="passageRecord" ngModel required placeholder="请输入听力文件的代号">
                <mat-hint align="start">输入格式是tpo数/第几部分/第几题:如1/2/1指的就是tpo1的第二部分的第一套听力</mat-hint>
            </mat-input-container>

            <textarea class="form-control"
                      [froalaEditor]="passageEditorOptions"
                      [(froalaModel)]="passage"
                      [(ngModel)]="passage"
                      name="passage"
                      rows="5" required></textarea>
            <button mat-raised-button color="primary" type="submit">确认</button>
        </form>

    </fieldset>

</div>

<div id="question-div">
    <fieldset>
        <legend>单个题目录入</legend>
        <form ngNativeValidate #form1="ngForm" (ngSubmit)="addQuestion(form1)" fxLayout="column">

            <mat-input-container>
                <input matInput name="question" type="text" required ngModel placeholder="请输入题目">
            </mat-input-container>

            <div class="record-input" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-input-container fxFlex>
                    <input matInput name="questionRecord" type="text" required ngModel placeholder="这个题目的录音">
                    <mat-hint align="start">输入格式是tpo数/第几部分/第几题:如1/2/10指的就是tpo1的第二部分的第10题</mat-hint>
                </mat-input-container>

                <mat-form-field>
                    <mat-select placeholder="题目类型" name="questionType" required [(ngModel)]="questionType">
                        <mat-option [value]="'tpo_listening_single_choice'">单选题</mat-option>
                        <mat-option [value]="'tpo_listening_multiple_choice'">多选题</mat-option>
                        <mat-option [value]="'tpo_listening_repeat_type'">重听题</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <mat-input-container>
                <input matInput name="option1" type="text" required ngModel placeholder="选项A">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option2" type="text" required ngModel placeholder="选项B">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option3" type="text" required ngModel placeholder="选项C">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="option4" type="text" required ngModel placeholder="选项D">
            </mat-input-container>

            <mat-input-container>
                <input matInput name="answer" type="text" required ngModel placeholder="答案">
            </mat-input-container>

            <textarea class="form-control"
                      [froalaEditor]="explanationEditorOptions"
                      [(froalaModel)]="explanation"
                      [(ngModel)]="explanation"
                      name="explanation"
                      rows="3" required></textarea>


            <button mat-raised-button color="primary" type="submit">确认</button>
        </form>

    </fieldset>
</div>
