<div class="group-item">
    <div class="question-item" *ngFor="let question of questionList; let i = index">
        <h4>{{i+1}}. 题目：</h4>
        <app-text-editor-view class="passage" [passage]="question.question"></app-text-editor-view>
        <h4>范文：</h4>
        <app-text-editor-view class="passage" [passage]="question.answer"></app-text-editor-view>

        <div class="buttons" fxLayout="row" fxLayoutGap="15px">
            <a class="bottom-button" (click)="openEditQuestionDialog(question)">
                <i class="material-icons">edit</i>
                <span>编辑</span>
            </a>
            <a class="bottom-button" (click)="openConfirmDeleteQuestionDialog()">
                <i class="material-icons">delete</i>
                <span>删除</span>
            </a>
        </div>
    </div>

    <a class="delete-group-button" (click)="openConfirmDeleteGroupDialog()">
        <i class="material-icons" color="accent">cancel</i>
    </a>
</div>
