<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <h3>琢玉课堂</h3>
        <p>重置密码</p>

        <form ngNativeValidate role="form" #f="ngForm"
              (ngSubmit)="onSubmit(f.value)" fxLayout="column" fxLayoutGap="20px">

          <div class="input-group">
            <input type="tel"
                   class="form-control"
                   placeholder="手机号码" name="phone"
                   required ngModel>
          </div>

          <div class="input-group">
            <input class="form-control" type="text"
                   placeholder="输入短信验证码" name="smsCode"
                   required ngModel>

            <span class="input-group-append"
                  [ngClass]="{'sending':sendingSMS}"
                  (click)="getSMS(f.value.phone)">
              <button class="btn btn-secondary append-button">
                {{sendingSMS? countdownTime + '秒后可重发' : '获取短信验证码'}}
              </button>
            </span>
          </div>


          <div class="input-group">
            <input type="password"
                   class="form-control"
                   placeholder="密码" name="password"
                   required ngModel>
          </div>

          <div class="input-group">
            <input class="form-control" type="password"
                   placeholder="确认密码" name="confirmPassword"
                   required ngModel>
          </div>


          <button type="submit" class="btn btn-success">
            重设密码
          </button>

          <a routerLink="/login" fxFlexAlign="center">
            <small>已经有账号？立刻登录</small>
          </a>
        </form>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>




