@import '~@angular/material/theming';

@mixin custom($theme) {

  .mat-radio-label{
    align-items: flex-start !important;
  }

  .mat-radio-container{
    top: 5px !important;
    flex-shrink: 0;
  }
}