#wordlist{
    background-color: white;
    padding: 30px;
    border:thin solid lightgray;
    border-radius: 1px;
}

#questionList{
    background-color: white;
    padding: 30px;
    border:thin solid lightgray;
    border-radius: 1px;
}

.word{

}