<nb-card>
  <nb-card-header>
    留言板
  </nb-card-header>

  <nb-card-body>

    <div class="info-container">

      <div *ngIf="messageList.length == 0">
        暂时没有留言
      </div>

      <div *ngFor="let bulletinMessage of messageList" class="info" fxLayout="row" fxLayoutAlign="start start"
           fxLayoutGap="10px">
        <mat-icon svgIcon="avatars:{{bulletinMessage.userAvatar}}"></mat-icon>
        <div class="message" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
          <p class="header">
            {{bulletinMessage.userName}}<span class="time">{{bulletinMessage.createdTime | date:'M月d日' }}</span>
          </p>
          <p class="content">{{bulletinMessage.message}}</p>
        </div>
      </div>
    </div>


    <div class="add-message" *ngIf="userType == UserType.TEACHER">
      <form ngNativeValidate class="form-inline" role="form" #f="ngForm" (ngSubmit)="addMessage(f)">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" required ngModel
                    name="message" placeholder="添加留言">
        </div>
        <button class="btn btn-primary btn-tn" type="submit">确定</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>
