<h4 mat-dialog-title>编辑独立写作题目</h4>

<mat-dialog-content>

    <form ngNativeValidate id="form" role="form" #f="ngForm"
          (ngSubmit) = "closeDialogAndSave()" fxLayout="column">
        <label>请输入题目</label>
        <app-text-editor
                [(ngModel)]="question.question"
                [required]="true"
                name="question"
        ></app-text-editor>


        <label>请输入范文</label>
        <app-text-editor
                [(ngModel)]="question.answer"
                [required]="true"
                name="answer"
        ></app-text-editor>


    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="closeDialog()">取消</button>
    <button mat-button type="submit" form="form" color="accent">确定</button>
</mat-dialog-actions>
