div{
    margin: 0px 20px 20px 20px;
}

#more {
  height: 50px;
  line-height: 50px;
  margin: 0;
}

#more:hover {
  cursor: pointer;
}

#more a {
  width: 100%;
}

#more p {
  color: #00d977;
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
  margin: 0;
}