<md-toolbar class="question-header" color="primary">
    <div class="brand" fxFlex="20" fxLayoutAlign="start">
        <button  md-button class="brand" (click)="gotoHome()">
            <md-icon>edit</md-icon>
            <span>琢玉课堂</span>
        </button>
    </div>

    <span fxFlex="60" fxLayoutAlign="center">{{assignmentName}}</span>

    <span class="header-button"
          fxLayout="column" fxFlex="20" fxLayoutAlign="center end" fxLayoutGap="8px">
        <div id="first-line" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
            <button md-button (click)="quit()">
                Quit
            </button>

            <button md-button *ngIf="questionType == 'tpo_reading_topic'" (click)="changeView()">
                {{viewText?'View Question':'View Text'}}
            </button>

            <button md-button *ngIf="showPre" (click)="preQuestion()">
                Back
            </button>
            <div class="tooltip" mdTooltip="Click Disable!" [mdTooltipPosition]="'below'" [mdTooltipDisabled]="!disableNext">
                <button md-button *ngIf="showNext" [disabled]="disableNext" (click)="nextQuestion()">
                    Next
                </button>
            </div>
        </div>
        <app-question-timer *ngIf="homeworkMode()"></app-question-timer>
    </span>
</md-toolbar>

