<div class="container">
  <div class="logo-container" fxFlex="20" fxLayoutAlign="start" (click)="gotoHome()">
    <i class="icon ion-md-create"></i>
    <div class="logo">琢玉课堂</div>
  </div>
  <span id="assignment-name">{{assignmentName}}</span>
  <span class="header-button"
        fxLayout="column" fxFlex="20" fxLayoutAlign="center end" fxLayoutGap="8px">
        <div id="first-line" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
            <button class="btn btn-default" (click)="quit()">
                <span>Quit</span>
            </button>

            <button class="btn btn-default" *ngIf="questionType == QuestionType.TPO_READING_TOPIC_TYPE
                                    || questionType == QuestionType.TPO_READING_CATEGORY_TYPE"
                    (click)="changeView()">
              <span>{{viewText?'View Question':'View Text'}}</span>
            </button>

            <button class="btn btn-default" *ngIf="showPre" (click)="preQuestion()">
                <span>Back</span>
            </button>
            <button class="btn btn-default" *ngIf="showNext" [disabled]="disableNext" (click)="nextQuestion()">
                <span>Next</span>
            </button>
            <div class="tooltip" matTooltip="Click Disable!" [matTooltipPosition]="'below'"
                 [matTooltipDisabled]="!disableNext">
            </div>
        </div>
        <app-question-timer *ngIf="homeworkMode()"></app-question-timer>
    </span>


</div>

