.brand{
    font-size: 20px;
    font-weight: 600;
}

md-toolbar{
    height: 90px !important;
}

.header-button button{
    background-color: white;
    color: #000;
    border-radius: 13px;
    height: 26px;
    line-height: 26px;
}




