.brand{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

#assignment-name{
    color: white;
}

mat-toolbar{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 90px !important;
}

.header-button button{
    background-color: white;
    color: #000;
    border-radius: 13px;
    height: 26px;
    line-height: 26px;
}

.tooltip{
    height: 26px;
}

.tooltip button{
    top: -5px;
}




