<div class="container">
<h3>题目详情</h3>
    <div *ngFor="let gradeDetail of gradeDetailList;let i = index" class="panel panel-default">
      <div class="panel-heading">Question #{{i+1}}</div>
      <div class="panel-body">
        <p>{{gradeDetail.question.questionType}}</p>
        <p>{{gradeDetail.question.passage}}</p>
        <p>{{gradeDetail.question.question}}</p>
        <ul>
          <li *ngFor="let option of gradeDetail.question.options">
            {{option}}
          </li>
        </ul>
        <p>你的选择：{{gradeDetail.content}}</p>
        <p>参考答案：{{gradeDetail.question.answer}}</p>
      </div>
    </div>
</div>