<div [ngSwitch]="questionType">
    <app-edit-vocabulary-question
        *ngSwitchCase="assignmentService.getVocabularyQuestionType()"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-vocabulary-question>
    <app-edit-tporeading-question
        *ngSwitchCase="assignmentService.getTPOReadingQuestionType()"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-tporeading-question>
    <app-edit-independent-writing-question
        *ngSwitchCase="assignmentService.getIndependentWritingType()"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-independent-writing-question>
    <app-edit-integrated-writing-question
        *ngSwitchCase="assignmentService.getIntegratedWritingType()"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-integrated-writing-question>
    <app-edit-tpolistening-question
        *ngSwitchCase="'tpo_listening'"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-tpolistening-question>
    <app-edit-tpospeaking-question
        *ngSwitchCase="'tpo_speaking'"
        [assignmentId]="assignmentId"
        [groupId]="questionGroupId"
    ></app-edit-tpospeaking-question>
</div>

